WCF/Service References/GenService/GenService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://facade.gen.com/" targetNamespace="http://facade.gen.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SendDocumentOperation" type="tns:SendDocumentOperation" />
  <xs:element name="SendDocumentOperationResponse" type="tns:SendDocumentOperationResponse" />
  <xs:complexType name="SendDocumentOperation">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="content" type="xs:string" />
      <xs:element minOccurs="0" name="key" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SendDocumentOperationResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>